.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.head{
  padding: 20px;
  font-weight:bold;
  font-size: large;
}
.wizard{
  margin: 20px;
  padding: 20px 30px;
  background: #aaa;
  width: fit-content;
  border-radius: 4px;
  display: flex;
}
.wizard-toggle{
  background-color: #6c757d;
  padding: 7px 10px;
  font-size: 15px;
  color: white;
  border: none;
}
.wizard-toggle:first-of-type{
  border-radius: 4px 0 0 4px;

}
.wizard-toggle:last-of-type{
  border-radius: 0 4px 4px 0;

}
.wizard-toggle.erasor{
  font-size: 23px;
  padding: 3px 10px;

}
.wizard-toggle.selected{
  background: #545b62;
}

#canvas{
  border: 1px solid black;
  width: 500px;
  height: 500px;
}